<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hioa.mappe2.studybuddy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="hioa.mappe2.studybuddy.LogIn"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="hioa.mappe2.studybuddy.Library"
            android:label="@string/title_activity_library" >
        </activity>
        <activity
            android:name="hioa.mappe2.studybuddy.Study"
            android:label="@string/title_activity_study" >
        </activity>
        <activity
            android:name="hioa.mappe2.studybuddy.AddQuestion"
            android:label="@string/title_activity_add_question" >
        </activity>
        <activity
            android:name="hioa.mappe2.studybuddy.TakeTheTest"
            android:label="@string/title_activity_take_the_test" >
        </activity>
        <activity
            android:name="hioa.mappe2.studybuddy.Share"
            android:label="@string/title_activity_share" >
        </activity>
    </application>

</manifest>